body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
  overflow: hidden; /* Ensure the body also hides overflow */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}